<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user['username'] }}!</h1>
    <h2>Your Points: {{ user['points'] }}</h2>
    <h3>Your Balance: ${{ user['amount'] }}</h3>  <!-- Display user's amount here -->

    <h2>Your Plans</h2>
    <ul>
        {% for plan in plans %}
        <li>
            <a href="{{ url_for('view_plan', plan_id=plan['plan_id']) }}">{{ plan['title'] }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_plan') }}">Create a new plan</a><br>
    <a href="{{ url_for('challenges') }}">View Challenges</a><br>
    <a href="{{ url_for('rewards') }}">View Rewards</a>
</body>
</html>
